<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Canais</h3>
  </div>
  <ul class="channel-list">
    <!-- Links com imagens locais, abrindo em nova aba -->

    <li>
      <a href="https://www.tiktok.com/@news.s929" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/news.s929.jpg');"></div>
        <span class="channel-name">news.s929</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@noticiassinfiltro0" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/noticiassinfiltro0.jpg');"></div>
        <span class="channel-name">noticiassinfiltro0</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@pedro3972" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/pedro3972.jpg');"></div>
        <span class="channel-name">pedro3972</span>
      </a>
    </li>
    
    <li>
      <a href="https://www.tiktok.com/@arcenio.chamale.c" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/arcenio.chamale.c.jpg');"></div>
        <span class="channel-name">arcenio.chamale.c</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@roger_nocturno" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/roger_nocturno.jpg');"></div>
        <span class="channel-name">roger_nocturno</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@noticias691" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/noticias691.jpg');"></div>
        <span class="channel-name">noticias691</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@noticias605" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/noticias605.jpg');"></div>
        <span class="channel-name">noticias605</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@ver.mundo01" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/ver.mundo01.jpg');"></div>
        <span class="channel-name">ver.mundo01</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@portalnews.usa" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/portalnews.usa.jpg');"></div>
        <span class="channel-name">portalnews.usa</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@geokingdom" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/geokingdom.jpg');"></div>
        <span class="channel-name">geokingdom</span>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@newsusa603" target="_blank">
        <div class="channel-icon" style="background-image: url('/static/img/newsusa603.jpg');"></div>
        <span class="channel-name">newsusa603</span>
      </a>
    </li>

  </ul>
</nav>